# Sample file of environment variables. Copy this to .env.development for development.

# Firebase configuration.
# 1. Set up your Firebase project
# 2. Create web app in project settings
# 3. Fill these values by your configuration
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_APP_ID=""
