.cardRed {
  --card-color: var(--color-card-red);
}

.cardBlue {
  --card-color: var(--color-card-blue);
}

.cardGreen {
  --card-color: var(--color-card-green);
}

.cardYellow {
  --card-color: var(--color-card-yellow);
}

.cardSmall {
  --width: 40px;
}

.cardMedium {
  --width: 80px;
}

.card {
  width: var(--width);
  height: calc(var(--width) * 1.6);
  padding: calc(var(--width) * 0.05);
  border: 1px solid var(--color-gray);
  border-radius: calc(var(--width) * 0.04);
  font-size: calc(var(--width) * 0.32);
  background-color: var(--color-white);
  transition-duration: 0.1s;
  transition-property: transform, box-shadow;
}

.cardFloating {
  box-shadow: 2px 2px calc(var(--width) * 0.1) var(--color-black);
}

.cardFocused {
  border: 2px solid var(--color-accent);
  box-shadow: 0 0 6px var(--color-accent);
  transform: scale(1.1);
}

.hidden {
  display: grid;
  place-items: center;
  height: 100%;
  border-radius: 8%;
  color: var(--color-logo);
  background-color: var(--color-black);
}

.character {
  display: grid;
  place-items: center;
  height: 100%;
  border-radius: 8%;
  font-size: 2.4em;
  color: var(--color-white);
  text-shadow: 2px 2px var(--color-black);
  background-color: var(--card-color);
}

.draw2 {
  display: grid;
  grid-template-rows: 3fr 1fr;
  place-items: center;
  height: 100%;
  padding: 8% 0;
  border-radius: 8%;
  font-size: 0.8em;
  color: var(--color-white);
  background-color: var(--card-color);
}

.draw2Symbol {
  position: relative;
  width: 100%;
  height: 100%;
}

.draw2Symbol > div {
  position: absolute;
  width: 42%;
  height: 42%;
  border: 1px solid var(--color-black);
  border-radius: 5%;
  background-color: var(--color-white);
  box-shadow: 2px 2px var(--color-black);
}

.draw4 {
  display: grid;
  grid-template-rows: 3fr 1fr;
  place-items: center;
  height: 100%;
  padding: 8% 0;
  border-radius: 8%;
  font-size: 0.8em;
  color: var(--color-white);
  background-color: var(--color-black);
}

.draw4Symbol {
  position: relative;
  width: 100%;
  height: 100%;
}

.draw4Symbol > div {
  position: absolute;
  top: 16%;
  left: 12%;
  width: 42%;
  height: 42%;
  border: 1px solid white;
  border-radius: 5%;
  background-color: var(--card-color);
}

.wild {
  display: grid;
  place-items: center;
  height: 100%;
  padding: 8%;
  border-radius: 8%;
  background-color: black;
}

.wildSymbol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.wildSymbol > div {
  background-color: var(--card-color);
}
