.root {
  position: relative;
  padding-right: var(--max-shift);
  padding-bottom: var(--max-shift);
}

.card {
  position: absolute;
  top: var(--shift);
  left: var(--shift);
  z-index: 2;
}

.drawn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  animation-name: drawn;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes drawn {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-150%);
  }
}

.cardForSpace {
  visibility: hidden;
}
