.pileRed {
  --pile-color: var(--color-card-red);
}

.pileBlue {
  --pile-color: var(--color-card-blue);
}

.pileGreen {
  --pile-color: var(--color-card-green);
}

.pileYellow {
  --pile-color: var(--color-card-yellow);
}

.root {
  position: relative;
  width: 360px;
  height: 360px;
  padding: 20px;
  background-image: radial-gradient(var(--pile-color) 0%, transparent 70%);
}

.newCard {
  animation-name: card-played;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes card-played {
  0% {
    opacity: 0;
    scale: 1.5;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}
