.root {
  position: relative;
  width: 360px;
  height: 360px;
  padding: 20px;
  background-image: radial-gradient(var(--card-color) 0%, transparent 70%);
}

.newCard {
  animation-name: card-played;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes card-played {
  0% {
    opacity: 0;
    scale: 1.5;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

.nextDraw {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: var(--color-accent);
  text-align: center;
  transform: translateX(-50%);
}

.nextDrawValue {
  font-size: 2rem;
  animation-name: next-draw-palse;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes next-draw-palse {
  50% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

.attackFinished {
  animation-name: attack-applied;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  transform-origin: left;
}

@keyframes attack-applied {
  100% {
    opacity: 0;
    scale: 2;
  }
}
