.root {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--color-accent);
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: game-event;
}

.actor {
  font-size: 1.2rem;
}

.detail {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 3.2rem;
  font-weight: bold;
}

.playedCards {
  display: flex;
}

@keyframes game-event {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
